html{
    height: 100%;
}

.nav{
    background-color: rgb(39, 38, 38);
    padding-bottom: 10px;
}

.navbar p{
    color: white;
    padding-top: 15px;
    padding-left: 25px;
    font-family: 'Caveat Brush';font-size: 30px;
}

.nav a{
    padding-left: 30px;
    font-size: large;
    color: rgb(118, 117, 196);
}

.col img{
    background-color: rgba(63,77,80,255);
}

.container{
    padding-top: 30px;
    padding-bottom: 150px;
}

.card{
    margin-top: 30px;
}

footer{
    background-color: rgb(39, 38, 38);
    text-align: center;
}

.footer p{
    color: white;
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 25px;
}